.center-video {
    width: 4.277778rem;
    height: 2.732323rem;
    border: 1px solid #43dcff;
    margin-bottom: .10101rem;
    padding: .10101rem;
    box-sizing: border-box;
}

.center-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-mid-content {
    color: white;
}

.playvideo {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.playvideo:hover {
    background-color: #022b57;
}

/* Basic Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#cancelButton {
    background-color: #ccc;
}

#confirmButton {
    background-color: #4CAF50;
    color: white;
}
